<div class="container-fluid">
    <div class="jumbotron align-items-center">
        <div class="jumbo-text">
           <h1 class="display-1">Ma' Laniabys</h1>
        <p class="display-4">Boutique</p>
        <p class="display-4">256-267-1435</p> 
        </div>
        
    </div>
</div>